extends layout.pug

block content 
  article.grid-container.portfolio-intro
    block sidebar
    br
    .cell.auto
    .container
      .row
        each article in articleData
          .col-3
            a(href= `${article.link}`)
              if article.img
                img.thumbnail(src= `${article.img}` class='image')
              h5= article.title
              h6= article.source
              p= article.description
    p= test