<!DOCTYPE html>
html(class="no-js" lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title BriefMe News Summarizer
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/public/css/bootstrap.css')
    link(rel='stylesheet', href='/public/css/style.css')
  body
    div.navbars-group.navbar.navbar-expand-lg.navbar-dark.bg-dark
      div.container-md
        .container-fluid
          a(href=`/`)
            div.logo
              img#logo-img(src='/public/img/Logo.png')
          nav.navbar.navbar-expand-lg.navbar-dark.bg-dark#navbar1
            button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
              span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
              ul.navbar-nav.me-auto.mb-2.mb-lg-0
                li.nav-item
                  if currCategory != null
                    a.nav-link(href=`/`)= "All News"
                  else
                    a.nav-link.active(href=`/`)= "All News"
                each category in appData.categories
                  li.nav-item
                    if currCategory == category
                      a.nav-link.active(href=`/?category=${category}`)= category
                    else
                      a.nav-link(href=`/?category=${category}`)= category
            a(href=`/about`)
              div.logo
                if currCategory == "about"
                  img#logo-written-active(src='/public/img/written_logo.png')
                else
                  img#logo-written(src='/public/img/written_logo.png')
          nav.navbar.navbar-expand-lg.navbar-dark.bg-dark#navbar2
            button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
              span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
              ul.navbar-nav.me-auto.mb-2.mb-lg-0
                - var categoryLink = (currCategory ? ("category="+currCategory):"")
                li.nav-item
                  if currSource != null
                    a.nav-link(href=`/?${categoryLink}`)= "All Sources"
                  else
                    a.nav-link.active(href=`/?${categoryLink}`)= "All Sources"
                each source in currSources
                  li.nav-item
                    if currSource == source
                      a.nav-link.active(href=`/?source=${source}&${categoryLink}`)= source
                    else
                      a.nav-link(href=`/?source=${source}&${categoryLink}`)= source
            form.d-flex.form-nav
              input#volumeForm.form-range.me-2(type='range' min=0 max=1 step=0.1 placeholder='Volume' aria-label='Volume' name='speechVolume')
              img.volume-icon(src='/public/img/volume.png')
              input.btn.btn-outline-light.stop-all(type='button' value="Stop Speech")
              input#searchForm.form-control.me-2(type='search' placeholder='Search Articles' aria-label='Search' name='searchParam')

    block content

  script(src='/public/js/jquery.js')
  script(src='/public/js/masonry.min.js')
  script(src='/public/js/bootstrap.js')
  script(src='/public/js/scripts.js')
  script(src='/public/js/speech.js')


